.main-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/mobile/decor-mobile-1.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/decor-mobile-1@2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/tablet/decor-first-tablet.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/decor-first-tablet@2x.png');
  }

  @media screen and (min-width: 1444px) {
    background-image: url('../images/desctop/decor-first-desc.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
    screen and (min-resolution: 192dpi) and (min-width: 1444px),
    screen and (min-resolution: 2dppx) and (min-width: 1444px) {
    background-image: url('../images/desctop/decor-first-desc@2x.png');
  }
}

.bg-secondary {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/mobile/decor-mobile-1.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/decor-mobile-1@2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/tablet/decor-second-tablet.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/decor-second-tablet@2x.png');
  }

  @media screen and (min-width: 1444px) {
    background-image: url('../images/desctop/decor-second-desc.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
    screen and (min-resolution: 192dpi) and (min-width: 1444px),
    screen and (min-resolution: 2dppx) and (min-width: 1444px) {
    background-image: url('../images/desctop/decor-second-desc@2x.png');
  }
}
