@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Light.eot');
  src: url('./fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CeraPro-Light.woff') format('woff'),
    url('./fonts/CeraPro-Light.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Regular.eot');
  src: url('./fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CeraPro-Regular.woff') format('woff'),
    url('./fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Bold.eot');
  src: url('./fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CeraPro-Bold.woff') format('woff'),
    url('./fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
