    .more-photo{
        padding-bottom: 84px;
    }
    
    .more-photo__title{
        font-family: var(--font-bolt);
        font-size: 24px;
        line-height: 1.25;
        color: #487996;
    
    }
    
    .photo-thumb{
        margin-top: 16px;
        
    }    
       
    .more-photo__load-icon{
        display: flex;
        justify-content: center;
    }

    .photo-thumb:hover {
            opacity: 0.7;        
    }

    .more-photo__load-icon{
        margin-top: 40px;       
    }

    /* .backdrop{
        position: fixed;
        padding-top: 1168px;
        padding-left: 42px;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(43, 43, 43, 0.8);
        backdrop-filter: blur(4px);
    }

    .modal{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 236px;
        height: 157px;
        background-color: #fff;
        transform: translate(-50%, -50%);
    }

    .modal-photo{
        width: 100%;
        height: 100%;
    } */

    @media screen and (max-width: 767px) {
        .photo-thumb-tablet{
            display: none;
        }
    }

    @media screen and (min-width: 768px) {

        .more-photo{
            padding-bottom: 60px;
        }

        .more-photo__thumb{
            padding-left: 60px;      
        }

        .photo-container{
            display: flex;
            flex-wrap: wrap;
        }

        .more-photo__title{
            font-size: 36px;
        }

        .photo-thumb{
            margin-top: 32px;            
        }

        .img-1{
            width: 247px;
        }

        .photo-thumb{
            margin-top: 20px;       
        
                &:not(:nth-child(3n)){
                    margin-right: 20px;
                }
        }

    }

    @media screen and (min-width: 1444px) {
        .more-photo{
            padding-bottom: 108px;
        }

        .more-photo__thumb{
            padding-left: 189px;      
        }

        .more-photo__title{
            font-size: 48px;
        }
        
        .photo-container{
            margin-top: 52px;            
        }

        .photo-thumb{
            margin-top: 32px;       
        
                &:not(:nth-child(3n)) {
                    margin-right: 32px;
                }
        }

        .img-1{
            width: 406px;
        }

        .img-3{
            width: 214px;
        }

        .more-photo__load-icon{
            margin-top: 64px;       
        }

    }

    
    