.more-photo__title{
    font-family: var(--font-bolt);
    font-size: 24px;
    line-height: 30px;
    color: #487996;
    
    }
    
    .photo-thumb{
        margin-top: 16px;
        
    }
    
    .more-photo__load-icon{
    
        margin-top: 32px;    
    }
    
    .more-photo__load-icon{
        display: flex;
        justify-content: center;
    }
    
    @media screen and (max-width: 767px) {
        .photo-thumb-tablet{
            display: none;
        }
    }
    
    