// .hero__background {
//   display: block;
//   width: 100%;
//   // height: auto;
//   position: absolute;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-image: url(../images/desctop/decor-desctop.png);
// }

.hero-container {
  position: relative;
}

.hero__title {
  font-family: var(--menu-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.12;
  text-align: center;
  list-style: none;
  color: #2b2b2b;
  margin-bottom: 32px;
  // height: 42px;
  // width: 280px;

  @media screen and (min-width: 768px) {
    // height: 56px;
    // width: 420px;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1444px) {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 69px;
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__list {
  display: flex;
  justify-content: center;

  max-width: 280px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

  @media screen and (min-width: 768px) {
    max-width: 380px;
    margin-bottom: 65px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 688px;
    margin-bottom: 100px;
  }
}

.hero__item {
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1444px) {
    margin-right: 35px;
  }
}

.hero__picture--top-right {
  border-radius: 0px 35px 0px 0px;
}

.hero__picture--circle {
  border-radius: 100px;
}

.hero__picture--top-bottom {
  border-radius: 0px 25px;
  @media screen and (min-width: 1444px) {
    border-radius: 0px 72px;
  }
}

.hero__link {
  display: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;

    //  left: 96px;
    //   bottom: 122px;
    left: 20px;
    bottom: 73px;
  }

  @media screen and (min-width: 1444px) {
    left: 65px;
    bottom: 160px;
  }
}

.hero__icon {
  fill: #008cef;
  @media screen and (min-width: 1444px) {
    width: 18px;
    height: 28px;
  }
}

.slogan {
  display: block;
  font-family: var(--menu-font);
  color: #2b2b2b;
  list-style: none;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-top: 64px;

    @media screen and (min-width: 1444px) {
      font-size: 36px;
      line-height: 1.16;
      margin-top: 100px;
    }
  }
}

@media screen and (min-width: 768px) {
  .background__left-top {
    // content: '';
    background-image: url(../images/tablet/main-tablet/main-1.jpg);
    position: absolute;
    border-radius: 50px;
    // background-position: left 76px top -5px;
    height: 73px;
    width: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    left: -76px;
    top: -5px;
  }

  .background__right-top {
    background-image: url(../images/tablet/main-tablet/main-2.jpg);
    position: absolute;
    border-radius: 0px 0px 72px 0px;
    // background-position: right 0 top -5px;
    height: 73px;
    width: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -180px;
    top: 5px;
  }

  .background__left-bottom {
    background-image: url(../images/tablet/main-tablet/main-3.jpg);
    position: absolute;
    border-radius: 100px;
    // background-position: right 0 bottom 76px;
    height: 73px;
    width: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    left: -180px;
    bottom: -30px;
  }

  .background__right-bottom {
    background-image: url(../images/tablet/main-tablet/main-4.jpg);
    position: absolute;
    border-radius: 72px 72px 0px 0px;
    height: 73px;
    width: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -180px;
    bottom: 76px;
  }
}

@media screen and (min-width: 1444px) {
  .background__left-top {
    background-image: url(../images/desctop/main/main-1.jpg);
    position: absolute;
    border-radius: 100px;
    // background-position: left 144px top -10px;
    height: 144px;
    width: 144px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 144px;
    bottom: -10px;
  }

  .background__right-top {
    background-image: url(../images/desctop/main/main-2.jpg);
    position: absolute;
    border-radius: 0px 0px 72px 0px;
    // background-position: right 0 top -10px;
    height: 144px;
    width: 144px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: -10px;
  }

  .background__left-bottom {
    background-image: url(../images/desctop/main/main-3.jpg);
    position: absolute;
    border-radius: 100px;
    // background-position: right 0 bottom 144px;
    height: 144px;
    width: 144px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    bottom: -5px;
  }

  .background__right-bottom {
    background-image: url(../images/desctop/main/main-4.jpg);
    position: absolute;
    border-radius: 72px 72px 0px 0px;
    // background-position: left 0 bottom 0;
    height: 144px;
    width: 144px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 144px;
  }
}

.hero-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    // height: 319px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1444px) {
  .hero-container {
    // height: 584px;
    width: 688px;
  }
}
