.hero {
  position: relative;

  &__title {
    font-family: var(--menu-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.12;
    text-align: center;
    list-style: none;
    color: #2b2b2b;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 1.16;
      margin-bottom: 64px;
    }

    @media screen and (min-width: 1444px) {
      font-size: 48px;
      line-height: 1.25;
      margin-bottom: 69px;
      max-width: 624px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.hero__list {
  display: flex;
  justify-content: center;
  box-shadow: (20px 20px 80px rgba(0, 0, 0, 0.3));

  @media screen and (min-width: 768px) {
    max-width: 380px;
    margin-bottom: 65px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 688px;
    margin-bottom: 100px;
  }
}

.hero__item {
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1444px) {
    margin-right: 35px;
  }
}

.hero__picture--top-right {
  border-radius: 0px 35px 0px 0px;
}

.hero__picture--circle {
  border-radius: 100px;
}

.hero__picture--top-bottom {
  border-radius: 0px 25px;
  @media screen and (min-width: 1444px) {
    border-radius: 0px 72px;
  }
}

.hero__link {
  display: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;

    left: 10px;
    bottom: 73px;
  }

  @media screen and (min-width: 1444px) {
    left: 65px;
    bottom: 160px;
  }
}

.hero__icon {
  fill: #008cef;
  @media screen and (min-width: 1444px) {
    width: 18px;
    height: 28px;
  }
}

.slogan {
  display: block;
  font-family: var(--menu-font);
  color: #2b2b2b;
  list-style: none;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;

    @media screen and (min-width: 1444px) {
      font-size: 36px;
      line-height: 1.16;
    }
  }
}

@media screen and (min-width: 768px) {
  .background__left-top {
    background-image: url(./src/images/tablet/main-tablet/main-1.jpg);
    position: absolute;
    // left: ;
    // bottom: ;
  }
}

//   .hero {
//     padding-top: 38px;

//     background-image: url(../src/images/tablet/main-tablet/main-1.jpg),
//       url(../src/images/tablet/main-tablet/main-2.jpg),
//       url(../src/images/tablet/main-tablet/main-3.jpg),
//       url(../src/images/tablet/main-tablet/main-4.jpg);

//     background-position: 144px top, right top, left bottom, right bottom;
//     background-repeat: no-repeat;

//     background-size: 73px 73px;
//   }
// }

// @media screen and (min-width: 1444px) {
//   .hero {
//     background-color: #ffff;
//     background-image: url(../src/images/desctop/main/main-1.jpg),
//       url(../src/images/desctop/main/main-2.jpg), url(../src/images/desctop/main/main-3.jpg),
//       url(../src/images/desctop/main/main-4.jpg);

//     background-position: 144px top, right top, left bottom, right bottom;
//     background-repeat: no-repeat;
//     background-size: 144px 144px;
//   }
// }

.hero-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero-container {
    height: 319px;
    width: 420px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1444px) {
  .hero-container {
    height: 584px;
    width: 688px;
  }
}
