<section class="contacts_page">
  <div class="container">  

    <ul class="contacts_page__list">
      <li class="section-title contacts_page__title">
        телефони
      </li>
      <li class="contacts_page__item">
        <a class="contacts_page__link" href="tel:+380957384551">
          +38 (095) -73-84-551
        </a>
      </li>
      <li class="contacts_page__item">
        <a class="contacts_page__link" href="tel:+380980025235">
          +38 (098) -00-25-235
        </a>
      </li>
    </ul>
  
    <ul class="contacts_page__list">
      <li class="section-title contacts_page__title">
        Email
      </li>
      <a class="contacts_page__link" href="mailto:3dfreedom.info@gmail.com">
        3dfreedom.info@gmail.com
      </a>
    </ul>
  
    <ul class="contacts_page__list">
      <li class="section-title contacts_page__title">
        робочий час
      </li>
      <li class="contacts_page__item">
        Пн-пт: з 8:00 до 19:00
      </li>
      <li class="contacts_page__item">
        Сб, Нд: з 10:00 до 17:00
      </li>
    </ul>

  </div>
</section>