<section class="contacts_page">
  <div class="container">  
    <ul class="contacts_page__tel_list">
      <li class="section-title">
        телефони
      </li>
      <li class="contacts_page__tel_item">
        <a class="contacts_page__tel_link" href="tel:+380957384551">+38 (095) -73-84-551</a>
      </li>
      <li class="contacts_page__tel_item">
        <a class="contacts_page__tel_link" href="tel:+380980025235">+38 (098) -00-25-235</a>
      </li>
    </ul>
  
    <ul>
      <li class="contacts__subtitle section-title section-title--margin-bottom section-title--center">
        Email
      </li>
      <a href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
    </ul>
  
    <ul>
      <li class="contacts__subtitle section-title section-title--margin-bottom section-title--center">
        робочий час
      </li>
      <li>Пн-пт: з 8:00 до 19:00</li>
      <li>Сб, Нд: з 10:00 до 17:00</li>
    </ul>
  </div>
  
<!--   
  <div class="contacts-contacts section container">
    <div class="contacts-contacts__info">
      <ul class="contacts-contacts__list">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Телефони</h3>
        </li>
        <li class="contacts-contacts__item">+38 (095) -73-84-551</li>
        <li class="contacts-contacts__item">+38 (098) -00-25-235</li>
      </ul>
  
      <ul class="contacts-contacts__list">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Email</h3>
        </li>
        <li class="contacts-contacts__item">3dfreedom.info@gmail.com</li>
      </ul>
  
      <ul class="contacts-contacts__list">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Робочий час</h3>
        </li>
        <li class="contacts-contacts__item">Пн-пт: з 8:00 до 19:00</li>
        <li class="contacts-contacts__item contacts-contacts__item-last">Сб, Нд: з 10:00 до 17:00</li>
      </ul>
    </div>
  </div>
  
  <div class="order-contacts section container">
    <div class="order-contacts__info">
      <ul class="order-contacts__list order-contacts__list-tel">
        <li class="order-contacts__item">
          <h3 class="section-title section-title__contacts">Телефони</h3>
        </li>
        <li class="order-contacts__item">+38 (095) -73-84-551</li>
        <li class="order-contacts__item">+38 (098) -00-25-235</li>
      </ul>
  
      <ul class="order-contacts__list">
        <li class="order-contacts__item">
          <h3 class="section-title section-title__contacts">Email</h3>
        </li>
        <li class="order-contacts__item">3dfreedom.info@gmail.com</li>
      </ul>
  
      <ul class="order-contacts__list order-contacts__list-time">
        <li class="order-contacts__item">
          <h3 class="section-title section-title__contacts">Робочий час</h3>
        </li>
        <li class="order-contacts__item">Пн-пт: з 8:00 до 19:00</li>
        <li class="order-contacts__item">Сб, Нд: з 10:00 до 17:00</li>
      </ul>
    </div>
  </div> -->

</section>