<section class="contacts_page">
  <div class="container contacts_page__wrapper">  

    <div class="contacts-page__contact">
      <ul class="contacts_page__list">
        <li class="section-title contacts_page__title">
          телефони
        </li>
        <li class="contacts_page__item">
          <a class="contacts_page__link" href="tel:+380957384551">
            +38 (095) -73-84-551
          </a>
        </li>
        <li class="contacts_page__item">
          <a class="contacts_page__link" href="tel:+380980025235">
            +38 (098) -00-25-235
          </a>
        </li>
      </ul>
      
      <ul class="contacts_page__list">
        <li class="section-title contacts_page__title">
          Email
        </li>
        <a class="contacts_page__link" href="mailto:3dfreedom.info@gmail.com">
          3dfreedom.info@gmail.com
        </a>
      </ul>
      
      <ul class="contacts_page__list">
        <li class="section-title contacts_page__title">
          робочий час
        </li>
        <li class="contacts_page__item">
          Пн-пт: з 8:00 до 19:00
        </li>
        <li class="contacts_page__item">
          Сб, Нд: з 10:00 до 17:00
        </li>
      </ul>
    </div>

    <div class="contacts-page__form">
      <form class="contacts-form__form" autocomplete="off">
        <h3 class="section-title section-title__form">
          Зв'яжіться з нами
        </h3>
        <div class="contacts-form__field">
          <input class="contacts-form__input" type="text" name="username" id="name" placeholder=" " />
          <label class="contacts-form__label" for="name">Ім'я</label>
        </div>
        <div class="contacts-form__field">
          <input class="contacts-form__input" type="email" name="email" id="email" placeholder=" " />
          <label class="contacts-form__label" for="email">Email</label>
        </div>
        <label class="contacts-form__message">
          Повідомлення
          <textarea class="contacts-form__message-input" name="message" placeholder="Залишіть своє повідомлення"></textarea>
        </label>
    
        <label for="file" class="contacts-form__add contacts-form__add-file-text">
          *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
        </label>
        <input type="file" name="add-file" id="file" />
    
        <div class="form-add-file__wrapper">
          <label for="file" class="form-add-file__text">
            *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
            <svg class="form-add-file__icon" width="22" height="20">
              <use href="./images/sprite.svg#icon-paper-clip"></use>
            </svg>
            <input class="form-add-file__input" type="file" name="file" id="file" />
          </label>
        </div>
    
        <button class="button-order contacts-form-btn" type="submit">Відправити</button>
      </form>
    
    </div>
  </div>
</section>