<section class="contacts_desc">
  <div class="container">
    <h2 class="hero-title contacts-desc__title">контакти</h2>

    <div class="contacts-page-desc">
      <div class="contacts-page-desc__img"></div>

      <div class="contacts-page-desc__wrap">
        <ul class="contacts-page-desc__list">
          <li class="contacts-page-desc__item">
            <p class="contacts-page-desc__text">
              Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
              процесом не на десяток хвилин.
            </p>
          </li>
          <li class="contacts-page-desc__item">
            <p class="contacts-page-desc__text">
              Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
              друку і просто помилуватися красою цього процесу.
            </p>
          </li>
          <li class="contacts-page-desc__item">
            <p class="contacts-page-desc__text">Приємного перегляду!</p>
          </li>
          <li class="contacts-page-desc__item">
            <!-- <p class="contacts-page-desc__text">&#128521</p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
