<!-- contacts__contacts-start -->
<section class="contacts-page-section">
  <div class="container">
    <div class="contacts-contacts__info">
      <ul class="contacts-contacts__list contacts-contacts__info-text contacts-contacts__list-tel">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Телефони</h3>
        </li>
        <li class="contacts-contacts__item">
          <a href="tel:+380957384551" class="contacts-contacts__item-link">+38 (095) -73-84-551</a>
        </li>
        <li class="contacts-contacts__item">
          <a href="tel:+380980025235" class="contacts-contacts__item-link">+38 (098) -00-25-235</a>
        </li>
      </ul>
      <ul class="contacts-contacts__list contacts-contacts__info-text">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Email</h3>
        </li>
        <li class="contacts-contacts__item">
          <a href="mailto:3dfreedom.info@gmail.com" class="contacts-contacts__item-link"
            >3dfreedom.info@gmail.com</a
          >
        </li>
      </ul>
      <ul class="contacts-contacts__list contacts-contacts__info-text contacts-contacts__list-time">
        <li class="contacts-contacts__item">
          <h3 class="section-title section-title__contacts">Робочий час</h3>
        </li>
        <li class="contacts-contacts__item">
          <a
            href="https://calendar.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="contacts-contacts__item-link"
          >
            Пн-пт:<br />з 8:00 до 19:00</a
          >
        </li>
        <li class="contacts-contacts__item">
          <a
            href="https://calendar.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="contacts-contacts__item-link"
          >
            Сб, Нд:<br />з 10:00 до 17:00</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- contacts__contacts-end -->
