.modeling-methods__title {
  font-family: Cera Pro;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #487996;

  padding-top: 50px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 16px;
  }
}

.modeling-methods__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.modeling-methods__list-item::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #487996;
  border-radius: 3px 0;
  margin-right: 10px;
  align-items: center;
  transform: translateY(-2px);
}
