.modeling-method {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 1444px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.modeling-methods__title {
  margin-bottom: 16px;
}

.modeling-methods__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.modeling-methods__list-item::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #487996;
  border-radius: 3px 0;
  margin-right: 10px;
  align-items: center;
  transform: translateY(-2px);
}
