<section class="gallery">
  <div class="container">

    <h2 class="hero-title gallery__title">Галерея</h2>
    <ul class="gallery__list">

      <li class="gallery__item">
        <!-- <a href="#" class="gallery__link"> -->
        <div class="gallery__item-wrapper">
          <picture class="gallery__pictures">

            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-8.webp 1x,
                            ../src/images/desctop/main/main-8@2x.webp 2x" type="image/webp">
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-8.jpg 1x,
                    ../src/images/desctop/main/main-8@2x.jpg
           2x">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-8.webp 1x,
                             ../src/images/tablet/main-tablet/main-8@2x.webp 2x" type="image/webp">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-8.jpg 1x,
                    ../src/images/tablet/main-tablet/main-8@2x.jpg
           2x">

            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-4.webp 1x,
                    ../src/images/mobile/main-menu-mobile/main-4@2x.webp 2x" type="image/webp">
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-4.jpg 1x,
                    ../src/images/mobile/main-menu-mobile/main-4@2x.jpg
           2x">

            <img class="gallery__about-img" src="../src/images/desctop/main/main-8.jpg" alt="макет корабля">
          </picture>
          <p class="gallery__text">Інженерні методи аналізу та контролю якості</p>
        </div>
        </a>
      </li>

      <li class="gallery__item">
        <!-- <a href="#" class="gallery__link"> -->
        <div class="gallery__item-wrapper">
          <picture class="gallery__pictures">

            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-9.webp 1x,
                            ../src/images/desctop/main/main-9@2x.webp 2x" type="image/webp">
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-9.jpg 1x,
                    ../src/images/desctop/main/main-9@2x.jpg
           2x">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-9.webp 1x,
                             ../src/images/tablet/main-tablet/main-9@2x.webp 2x" type="image/webp">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-9.jpg 1x,
                    ../src/images/tablet/main-tablet/main-9@2x.jpg
           2x">

            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-5.webp 1x,
                    ../src/images/mobile/main-menu-mobile/main-5@2x.webp 2x" type="image/webp">
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-5.jpg 1x,
                    ../src/images/mobile/main-menu-mobile/main-5@2x.jpg
           2x">

            <img class="gallery__about-img" src="../src/images/desctop/main/main-9.jpg" alt="машина в разработке">
          </picture>
          <p class="gallery__text">Високоточне 3D сканування</p>
        </div>
      </li>

      <li class="gallery__item">
        <!-- <a href="#" class="gallery__link"> -->
        <div class="gallery-item__wrapper">
          <picture class="gallery__pictures">

            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-10.webp 1x,
                            ../src/images/desctop/main/main-10@2x.webp 2x" type="image/webp">
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-10.jpg 1x,
                    ../src/images/desctop/main/main-10@2x.jpg
           2x">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-10.webp 1x,
                             ../src/images/tablet/main-tablet/main-10@2x.webp 2x" type="image/webp">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-10.jpg 1x,
                    ../src/images/tablet/main-tablet/main-10@2x.jpg
           2x">

            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-6.webp 1x,
                    ../src/images/mobile/main-menu-mobile/main-6@2x.webp 2x" type="image/webp">
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-6.jpg 1x,
                    ../src/images/mobile/main-menu-mobile/main-6@2x.jpg
           2x">

            <img class="gallery__about-img" src="../src/images/desctop/main/main-10.jpg" alt="деталь авто">
          </picture>
          <p class="gallery__text">Створення точної копії на базі сканування reverse engineering</p>
        </div>
        </a>
      </li>

      <li class="gallery__item">
        <!-- <a href="#" class="gallery__link"> -->
        <div class="gallery__item-wrapper">
          <picture class="gallery__pictures">

            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-11.webp 1x,
                            ../src/images/desctop/main/main-11@2x.webp 2x" type="image/webp">
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-11.jpg 1x,
                    ../src/images/desctop/main/main-11@2x.jpg
           2x">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-11.webp 1x,
                             ../src/images/tablet/main-tablet/main-11@2x.webp 2x" type="image/webp">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-11.jpg 1x,
                    ../src/images/tablet/main-tablet/main-11@2x.jpg
           2x">

            <source media="(min-width: 320px)"
              srcset="../src/images/mobile/main-menu-mobile/main-7.webp 1x, ../src/images/mobile/main-menu-mobile/main-7@2x.webp 2x"
              type="image/webp">
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-7.jpg 1x, ../src/images/mobile/main-menu-mobile/main-7@2x.jpg
           2x">

            <img class="gallery__about-img" src="../src/images/desctop/main/main-11.jpg" alt="3D проэктирование">
          </picture>
          <p class="gallery__text">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</p>
        </div>
        </a>
      </li>
    </ul>
  </div>
</section>