<section class="hero container hero-container">
  <h1 class="hero__title"> Інженерна, конструкторська<br />
    та дизайнерська робота </h1>
  <!-- <div class="container hero-container">

  </div> -->

  <ul class="hero__list list">
    <li class="hero__item">
      <!-- <div class="hero__item-wrap"> -->
      <picture class="hero__picture">

        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-5.webp 1x,
                            ../src/images/desctop/main/main-5@2x.webp 2x" type="image/webp">
        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-5.jpg 1x,
                    ../src/images/desctop/main/main-5@2x.jpg
           2x">
        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-5.webp 1x,
                             ../src/images/tablet/main-tablet/main-5@2x.webp 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-5.jpg 1x,
                    ../src/images/tablet/main-tablet/main-5@2x.jpg
           2x">

        <source media="(min-width: 320px)"
          srcset="../src/images/mobile/main-menu-mobile/main-1.webp 1x, ../src/images/mobile/main-menu-mobile/main-1@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-1.jpg 1x, ../src/images/mobile/main-menu-mobile/main-1@2x.jpg
           2x">

        <img class="hero__picture--top-right" src="../src/images/desctop/main/main-5.jpg" alt="робот">
      </picture>
    </li>


    <li class="hero__item">
      <!-- <div class="hero__item-wrap"> -->
      <picture class="hero__picture">

        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-6.webp 1x,
                            ../src/images/desctop/main/main-6@2x.webp 2x" type="image/webp">
        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-6.jpg 1x,
                    ../src/images/desctop/main/main-6@2x.jpg
           2x">

        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-6.webp 1x,
                             ../src/images/tablet/main-tablet/main-6@2x.webp 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-6.jpg 1x,
                    ../src/images/tablet/main-tablet/main-6@2x.jpg
           2x">

        <source media="(min-width: 320px)"
          srcset="../src/images/mobile/main-menu-mobile/main-2.webp 1x, ../src/images/mobile/main-menu-mobile/main-2@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-2.jpg 1x, ../src/images/mobile/main-menu-mobile/main-2@2x.jpg
           2x">

        <img class="hero__picture--circle" src="../src/images/desctop/main/main-6.jpg" alt="лампочки">
      </picture>
      <!-- </div> -->
    </li>

    <li class="hero__item">
      <!-- <div class="hero__item-wrap"> -->
      <picture class="hero__picture">

        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-7.webp 1x,
                            ../src/images/desctop/main/main-7@2x.webp 2x" type="image/webp">
        <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-7.jpg 1x,
                    ../src/images/desctop/main/main-7@2x.jpg
           2x">

        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-7.webp 1x,
                             ../src/images/tablet/main-tablet/main-7@2x.webp 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-7.jpg 1x,
                    ../src/images/tablet/main-tablet/main-7@2x.jpg
           2x">

        <source media="(min-width: 320px)"
          srcset="../src/images/mobile/main-menu-mobile/main-3.webp 1x, ../src/images/mobile/main-menu-mobile/main-3@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-3.jpg 1x, ../src/images/mobile/main-menu-mobile/main-3@2x.jpg
           2x">

        <img class="hero__picture--top-bottom" src="../src/images/desctop/main/main-7.jpg" alt="череп">
      </picture>
    </li>
  </ul>


  <div class="container__wrapper">
    <div class="background__left-top"></div>
    <div class="background__right-top"></div>
    <div class="background__left-bottom"></div>
    <div class="background__right-bottom"></div>
  </div>


  <a href="#more-foto" class="hero__link">
    <svg class="hero__icon" width="9" height="14">
      <use href="../src/images/sprite.svg#icon-to-down"> </use>

    </svg>
  </a>


  <strong class="slogan">Ми втілюємо ідеї в реальність.</strong>

</section>