<!-- <link rel="stylesheet" href="./src/sass/layout/main-page/_main-page-gallery.scss" /> -->


<section class="gallery">
  <div class="conteiner conteiner-gallery">

    <h2 class="gallery-title">Галерея</h2>
    <ul class="gallery-list">

      <li class="gallery-item">
        <a href="#" class="gallery__link">
          <div class="gallery-item__wrapper">
            <picture class="gallery-pictures">
              <source media="(min-width: 1444px)" srcset="./images/ img-1.webp 1x, ./images/ img-1@2x.webp 2x"
                type="image/webp">
              <source media="(min-width: 1444px)" srcset="./images/ img-1.jpg 1x, ./images/ img-1@2x.jpg 2x">

              <img class="gallery-about-img" src="./1556708032_1.jpeg" alt="макет корабля">
            </picture>
            <p class="gallery-text">Інженерні методи аналізу та контролю якості</p>
          </div>
        </a>
      </li>

      <li class="gallery-item">
        <a href="#" class="gallery__link">
          <div class="gallery-item__wrapper">
            <picture class="gallery-pictures">
              <source media="(min-width: 1444px)" srcset="./images/ img-2.webp 1x, ./images/ img-2@2x.webp 2x"
                type="image/webp">
              <source media="(min-width: 1444px)" srcset="./images/ img-2.jpg 1x, ./images/ img-2@2x.jpg 2x">

              <img class="gallery-about-img" src="./1556708032_1.jpeg" alt="машина в разработке">
            </picture>
            <p class="gallery-text">Високоточне 3D сканування</p>
          </div>
      </li>

      <li class="gallery-item">
        <a href="#" class="gallery__link">
          <div class="gallery-item__wrapper">
            <picture class="gallery-pictures">
              <source media="(min-width: 1444px)" srcset="./images/ img-3.webp 1x, ./images/ img-3@2x.webp 2x"
                type="image/webp">
              <source media="(min-width: 1444px)" srcset="./images/ img-3.jpg 1x, ./images/ img-3@2x.jpg 2x">

              <img class="gallery-about-img" src="./1556708032_1.jpeg" alt="деталь авто">
            </picture>
            <p class="gallery-text">Створення точної копії на базі сканування reverse engineering</p>
          </div>
        </a>
      </li>

      <li class="gallery-item">
        <a href="#" class="gallery__link">
          <div class="gallery-item__wrapper">
            <picture class="gallery-pictures">
              <source media="(min-width: 1444px)" srcset="./images/ img-4.webp 1x, ./images/ img-4@2x.webp 2x"
                type="image/webp">
              <source media="(min-width: 1444px)" srcset="./images/ img-4.jpg 1x, ./images/ img-4@2x.jpg 2x">

              <img class="gallery-about-img" src="./1556708032_1.jpeg" alt="сканирование в 3D">
            </picture>
            <p class="gallery-text">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>