<link rel="stylesheet" href="/src/sass/layout/main-page/_main-page-photo.scss   " />

<section class="more-photo">

    <div class="more-photo-thumb conteiner">

        <h2 class="more-photo__title">БІЛЬШЕ ФOТО</h2>

        <div class="more-photo__thumb-1">
            <picture class="more-photo__ph-1">                
                <source media="(min-width: 1444px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x">
                <source media="(min-width: 768px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x">
                <source media="(min-width: 280px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x"> 
                <img src="/src/images/demo.jpg" alt="Маленькі фігури" width="280">
            </picture>
        </div>

        <div class="more-photo__thumb-2">
            <picture class="more-photo__ph-1">                
                <source media="(min-width: 1444px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x"> 
                <source media="(min-width: 768px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x">
                <source media="(min-width: 280px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x"> 
                <img src="/src/images/demo.jpg" alt="Маленькі фігури" width="280">
            </picture>
        </div>

        <div class="more-photo__thumb-3">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x">
                <source media="(min-width: 768px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x">
                <source media="(min-width: 280px)" srcset="/src/images/demo.jpg 1x, /src/images/demo.jpg 2x"> 
                <img src="/src/images/demo.jpg" alt="Маленькі фігури" width="280">
            </picture>
        </div>

        <div class="more-photo__load-icon">
            <svg class="more-photo__load-icon-svg" width="45px" height="45px">
                <use href="/src/images/sprite.svg#icon-loader"></use>
            </svg>
        </div>
    </div>
</section>