


<link rel="stylesheet" href="../src/sass/layout/main-page/_main-page-photo.scss"/>

<section class="more-photo">

    <div class="more-photo__thumb container">

        <h2 class="more-photo__title">БІЛЬШЕ ФOТО</h2>

    <div class="photo-container">

        
        <div class="more-photo__thumb-1 photo-thumb">
                    
                <picture  class="more-photo__ph-1">                
                    <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-14.jpg 1x, ../src/images/desctop/main/main-14.jpg 2x">
                    <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-14.webp 1x, ../src/images/desctop/main/main-14.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-12.jpg 1x, ../src/images/tablet/main-tablet/main-12.jpg 2x">
                    <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-12.webp 1x, ../src/images/tablet/main-tablet/main-12@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-8.jpg 1x, ../src/images/mobile/main-menu-mobile/main-8@2x.jpg 2x"> 
                    <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-8.webp 1x, ../src/images/mobile/main-menu-mobile/main-8@2x.webp 2x" type="image/webp">
                    <img class="img-1" src="../src/images/mobile/main-menu-mobile/main-8.jpg" alt="3Д маленькі фігури"  onclick="on()">             
                           
             </picture>
                
        </div>

        
        <div class="more-photo__thumb-2 photo-thumb">
            <a href=""  class="more-photo-link">
            <picture class="more-photo__ph-1">                
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-15.jpg 1x, ../src/images/desctop/main/main-15@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-15.webp 1x, ../src/images/desctop/main/main-15@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-13.jpg 1x, ../src/images/tablet/main-tablet/main-13@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-13.webp 1x, ../src/images/tablet/main-tablet/main-13@2x.webp 2x" type="image/webp">
                <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-9.jpg 1x, ../src/images/mobile/main-menu-mobile/main-9@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-9.webp 1x, ../src/images/mobile/main-menu-mobile/main-9@2x.webp 2x" type="image/webp"> 
                <img class="img-2" src="../src/images/mobile/main-menu-mobile/main-9.jpg" alt="3Д арка">
            </picture>
            </a>            
        </div>

        <div  class="more-photo__thumb-3 photo-thumb">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-16.jpg 1x, ../src/images/desctop/main/main-16.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-16.webp 1x, ../src/images/desctop/main/main-16.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-14.jpg 1x, ../src/images/tablet/main-tablet/main-14@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-14.webp 1x, ../src/images/tablet/main-tablet/main-14@2x.webp 2x" type="image/webp">
                <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-10.jpg 1x, ../src/images/mobile/main-menu-mobile/main-10@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-10.webp 1x, ../src/images/mobile/main-menu-mobile/main-10@2x.webp 2x" type="image/webp"> 
                <img class="img-3" src="../src/images/mobile/main-menu-mobile/main-10.jpg" alt="3Д робот">
            </picture>
        </div>

        <div class="more-photo__thumb-4 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-17.jpg 1x, ../src/images/desctop/main/main-17@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-17.webp 1x, ../src/images/desctop/main/main-17@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-15.jpg 1x, ../src/images/tablet/main-tablet/main-15@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-15.webp 1x, ../src/images/tablet/main-tablet/main-15@2x.webp 2x" type="image/webp">
                <img class="img-4" src="../src/images/tablet/main-tablet/main-15.jpg" alt="3Д череп">
            </picture>
        </div>

        <div class="more-photo__thumb-5 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-18.jpg 1x, ../src/images/desctop/main/main-18@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-18.webp 1x, ../src/images/desctop/main/main-18@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-16.jpg 1x, ../src/images/tablet/main-tablet/main-16@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-16.webp 1x, ../src/images/tablet/main-tablet/main-16@2x.webp 2x" type="image/webp">
                <img class="img-5" src="../src/images/tablet/main-tablet/main-16.jpg" alt="3Д танк">
            </picture>
        </div>

        <div class="more-photo__thumb-6 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-19.jpg 1x, ../src/images/desctop/main/main-19@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-19.webp 1x, ../src/images/desctop/main/main-19@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-17.jpg 1x, ../src/images/tablet/main-tablet/main-17@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-17.webp 1x, ../src/images/tablet/main-tablet/main-17.webp 2x" type="image/webp">
                <img class="img-6" src="../src/images/tablet/main-tablet/main-17.jpg" alt="3Д настільна лампа">
            </picture>
        </div>

        <div  class="more-photo__thumb-7 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-20.jpg 1x, ../src/images/desctop/main/main-20@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-20.webp 1x, ../src/images/desctop/main/main-20@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-18.jpg 1x, ../src/images/tablet/main-tablet/main-18@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-18.webp 1x, ../src/images/tablet/main-tablet/main-18@2x.webp 2x" type="image/webp">
                <img class="img-7" src="../src/images/tablet/main-tablet/main-18.jpg" alt="3Д авто">
            </picture>
        </div>

        <div class="more-photo__thumb-8 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-21.jpg 1x, ../src/images/desctop/main/main-21@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-21.webp 1x, ../src/images/desctop/main/main-21@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-19.jpg 1x, ../src/images/tablet/main-tablet/main-19@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-19.webp 1x, ../src/images/tablet/main-tablet/main-19@2x.webp 2x" type="image/webp">
                <img class="img-8" src="../src/images/tablet/main-tablet/main-19.jpg" alt="3Д будівля">
            </picture>
        </div>

        <div class="more-photo__thumb-9 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-22.jpg 1x, ../src/images/desctop/main/main-22@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-22.webp 1x, ../src/images/desctop/main/main-22@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-20.jpg 1x, ../src/images/tablet/main-tablet/main-20@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-20.webp 1x, ../src/images/tablet/main-tablet/main-20@2x.webp 2x" type="image/webp">
                <img class="img-9" src="../src/images/tablet/main-tablet/main-20.jpg" alt="3Д настільна декорована лампа">
            </picture>
        </div>

        <div class="more-photo__thumb-10 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-23.jpg 1x, ../src/images/desctop/main/main-23@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-23.webp 1x, ../src/images/desctop/main/main-23@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-21.jpg 1x, ../src/images/tablet/main-tablet/main-21@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-21.webp 1x, ../src/images/tablet/main-tablet/main-21@2x.webp 2x" type="image/webp">
                <img class="img-10" src="../src/images/tablet/main-tablet/main-21.jpg" alt="3Д гаджет">
            </picture>
        </div>

        <div class="more-photo__thumb-11 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-24.jpg 1x, ../src/images/desctop/main/main-24@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-24.webp 1x, ../src/images/desctop/main/main-24@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-22.jpg 1x, ../src/images/tablet/main-tablet/main-22@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-22.webp 1x, ../src/images/tablet/main-tablet/main-22@2x.webp 2x" type="image/webp">
                <img class="img-11" src="../src/images/tablet/main-tablet/main-22.jpg" alt="3Д кросовер">
            </picture>
        </div>

        <div class="more-photo__thumb-12 photo-thumb photo-thumb-tablet">
            <picture class="more-photo__ph-1">
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-25.jpg 1x, ../src/images/desctop/main/main-25@2x.jpg 2x"> 
                <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-25.webp 1x, ../src/images/desctop/main/main-25@2x.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-23.jpg 1x, ../src/images/tablet/main-tablet/main-23@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-23.webp 1x, ../src/images/tablet/main-tablet/main-23@2x.webp 2x" type="image/webp">
                <img class="img-12" src="../src/images/tablet/main-tablet/main-23.jpg" alt="3Д квіткові вази">
            </picture>
      
        </div>

    </div>

       
        <div class="more-photo__load-icon">
            <svg class="more-photo__load-icon-svg" width="30px" height="30px">
                <use href="../src/images/sprite.svg#icon-loader"></use>
            </svg>
            </div>
        
    </div>
</section>

<div id="overlay" onclick="off()">
    <div class="thumb__modal">
        <svg class="svg-left">
            <use href="../src/images/sprite.svg#icon-next-left"></use>
        </svg>

    <div class="img-modal-thumb">
        <picture  class="more-photo__modal">                
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-14.jpg 1x, ../src/images/desctop/main/main-14.jpg 2x">
            <source media="(min-width: 1444px)" srcset="../src/images/desctop/main/main-14.webp 1x, ../src/images/desctop/main/main-14.webp 2x" type="image/webp">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-12.jpg 1x, ../src/images/tablet/main-tablet/main-12.jpg 2x">
            <source media="(min-width: 768px)" srcset="../src/images/tablet/main-tablet/main-12.webp 1x, ../src/images/tablet/main-tablet/main-12@2x.webp 2x" type="image/webp">
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-8.jpg 1x, ../src/images/mobile/main-menu-mobile/main-8@2x.jpg 2x"> 
            <source media="(min-width: 320px)" srcset="../src/images/mobile/main-menu-mobile/main-8.webp 1x, ../src/images/mobile/main-menu-mobile/main-8@2x.webp 2x" type="image/webp">
            <img class="img-modal" src="../src/images/mobile/main-menu-mobile/main-8.jpg" alt="3Д маленькі фігури">           
        </picture>
    </div>

        <svg class="svg-right">
            <use href="../src/images/sprite.svg#icon-next-right"></use>
        </svg>
    </div>
</div>




<script>
    function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}
</script>

 <!-- <script src="../modal.js"></script> -->


