        <section scanProcess>
            <div>
                <h3 class="scanProcess__heading">ПРОЦЕС 3D СКАНУВАННЯ</h3>

                <ul>
                    <li>
                        
                        <h5>Підготовка деталі до сканування</h5>

                    </li>

                    <li>
                        
                        <h5>Створення сканів і їх обробка</h5>

                    </li>

                    <li>

                        <h5>Перетворення reverse engineering</h5>

                    </li>

                    <li>
                        
                        <h5>Підготовка моделі до друку</h5>

                    </li>
                </ul>

                <a class="scanProcess__link" href="">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
            </div>
        </section>
    
