<section class="section scanProcess">
    <div class="container">
        
        <h3 class="scanProcess__heading">ПРОЦЕС 3D СКАНУВАННЯ</h3>

            <ul class="scanProcess__list">
                <li class="scanProcess__item">
                    <h5 class="scanProcess__team">Підготовка деталі до сканування</h5> 
               </li>

                <li class="scanProcess__item">
                    <h5 class="scanProcess__team">Створення сканів і їх обробка</h5> 
                </li>

                <li class="scanProcess__item">
                    <h5 class="scanProcess__team">Перетворення reverse engineering</h5> 
                </li>

                <li class="scanProcess__item">
                    <h5 class="scanProcess__team">Підготовка моделі до друку</h5> 
                </li>
            </ul>

        <div class="scanProcess-box">                    
            <a class="button-order" href="./order.html">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </div>

    </div>
</section>