<header class="header">
    <div>
        <nav>
            <a href="../src/index.html"><img src="/images/logo.jpg" alt="логотип"></a>
            <ul>
                <li><a href="">Головна</a></li>
                <li>Послуги
                    <div>
                        <ul>
                            <li><a href="">3<span lang="eng">D</span> Моделювання</a></li>
                            <li><a href="">3<span lang="eng">D</span> Сканування</a></li>
                            <li><a href="">3<span lang="eng">D</span> Друк</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="">Замовити</a></li>
                <li><a href="">Контакти</a></li>
                <li><a href=""><span lang="eng">Eng</span></a></li>
            </ul>
        </nav>
        <button></button>
        <ul>
            <li><a href="tel:+380936432288">+38 (093) 643 22 88</a></li>
            <li><a href="tel:+380503454423">+38 (050) 345 44 23</a></li>
        </ul>
    </div>
</header>