.hero-title {
  line-height: 30px;

  margin-top: 36px;
  margin-bottom: 16px;
  
  @media screen and (min-width: 768px) {
      line-height: 45px;
      margin-top: 35px;
      }
    
   @media screen and (min-width: 1440px) {
    line-height: 60px;
    margin-top: 85px;
    margin-bottom: 24px;
  }
}
.hero-box {
  @media screen and (min-width: 1440px) {
      display: flex;
  }
} 
.hero-box__text {
  @media screen and (min-width: 768px) {
    width: 515px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 32px;

      &:last-child {
          margin-right: 0;
      }
       }
}
.hero__text {
font-size: 16px;
line-height: 20px;
      
color: #2B2B2B;

margin-bottom: 16px;
      
@media screen and (min-width: 1440px) {
font-size: 18px;
line-height: 23px;
margin-bottom: 24px;

&:last-child {
  margin-bottom: 0;
}
}
}
.hero__text-p {
font-size: 16px;
line-height: 20px;
      
color: #2B2B2B;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 52px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}
.hero__image {
  max-width: 280px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;

  background-image: url(../images/mobile/3d-scanning/3d-scanning-1@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin-top: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
      max-width: 241px;
      height: 172px;
      margin-right: 0;

      position: absolute;
      top: 300px;
      right: 0;
      width: 240px;
      z-index: 1;
      margin: 0;
      background-image: url(../images/tablet/3d-scanning/3d-scanning-1.png);
  }
  @media screen and (min-width: 1440px) {
    max-width: 515px;
    height: 368px;
    margin-top: 0;
    margin-bottom: 0;

    position: inherit;
    width: auto;

    background-image: url(../images/desctop/3d-scanning/3d-scanning-1.png);
      }
}