<div class="container">
    <h2 class="page-title page-title--margin-bottom">Зробити замовлення</h2>

    <div class="order-page-desc">
        <div class="order-page-desc__img"></div>

        <div class="order-page-desc__wrap">
            <ul class="order-page-desc__list">
                <li class="order-page-desc__item">
                    <p class="order-page-desc__text">На цій сторінці ви можете зробити замовлення заповнивши форму і ми
                        зв'яжемося з вами.</p>
                </li>
                <li class="order-page-desc__item">
                    <p class="order-page-desc__text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і
                        дадуть
                        відповідь на всі ваші запитання.</p>
                </li>
            </ul>
            <div class="order-desc-picset">
                <div class="order-desc-picset__item order-desc-picset__item--flag"></div>
                <div class="order-desc-picset__item order-desc-picset__item--leaf"></div>
                <div class="order-desc-picset__item order-desc-picset__item--fan"></div>
            </div>
        </div>
    </div>

</div>