// стили для кнопок

.button-order {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding: 16px 32px;

  color: #487996;

  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
}
