// Стиль для тайтлов страниц

.hero-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25x;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #487996;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1444px) {
    font-size: 48px;
  }
}

// .main-title {
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.25x;

//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: #487996;

//   @media screen and (min-width: 768px) {
//     font-size: 36px;
//   }
//   @media screen and (min-width: 1444px) {
//     font-size: 48px;
//   }
// }

.section-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.25x;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #487996;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1444px) {
    font-size: 36px;
  }
}
