<!-- Section Modeling page methods -->
<section>
  <div class="container modeling-container">
    <h3 class="modeling-methods__title">Способи створення моделі:</h3>
    <ul class="container-modeling__item-text modeling-methods__list">
      <li class="modeling-methods__list-item">3D сканування</li>
      <li class="modeling-methods__list-item">На основі фотографій з доданими розмірами</li>
      <li class="modeling-methods__list-item">За ескізами з розмірами</li>
      <li class="modeling-methods__list-item">За вашим кресленням</li>
      <li class="modeling-methods__list-item">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>
  </div>
</section>
