.contacts-contacts__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1444px) {
    flex-direction: column;
  }
}

.contacts_page__tel_link {
  color: #2b2b2b;
}

.contacts-contacts__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media screen and (min-width: 1444px) {
    flex-direction: column;
  }
}

.contacts-contacts__list {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1444px) {
    flex-direction: column;
  }
}

.contacts-contacts__item {
  &:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}
.contacts-contacts__item-last {
  padding-bottom: 76px;
}

//   align-items: flex-end;
//   margin-bottom: 76px;
// }
// }

.order-contacts__list {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.order-contacts__list-time {
  @media screen and (min-width: 768px) {
    align-items: flex-end;
  }
}

.order-contacts__list-tel {
  @media screen and (min-width: 1444px) {
    align-items: flex-end;
  }
}

.order-contacts__item {
  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1444px) {
      margin-bottom: 18px;
    }
  }
}

.section-title__contacts {
  margin-bottom: 0px;
  text-align: left;

  padding-bottom: 8px;
  justify-items: center;

  padding-bottom: 8px;
  justify-items: center;

  @media screen and (min-width: 1444px) {
    text-align: right;
  }
}

.contacts-contacts__info-text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-transform: capitalize;
  color: #2b2b2b;
}

.contacts-contacts__list {
  margin-bottom: 76px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1444px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.contacts-contacts__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;

  @media screen and (min-width: 1444px) {
    font-size: 18px;
  }
}
