// contacts__form-start
option:checked {
  background-color: rgba(72, 121, 150, 0.5);
  color: #fff;
}
.contacts-form__section {
  // margin-bottom: 52px;
  margin-block-end: unset;
}
.contacts-section-title--margin-bottom {
  // margin-bottom: 28px;
}
.section-title--center {
  text-align: left;
  @media screen and (min-width: 768px) and (max-width: 1444px) {
    text-align: center;
  }
}
.contacts-form__field {
  position: relative;
}
.contacts-form__input {
  width: 100%;
  height: 24px;
  margin-bottom: 44px;
  outline: none;
  border: none;
  border-bottom: 1px solid #487996;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
.contacts-form__input:focus {
  border-bottom: 1px solid #008cef;
}
.contacts-form__input:focus + .contacts-form__label,
.contacts-form__input:not(:placeholder-shown) + .contacts-form__label {
  transform: translateY(-20px);
}
.contacts-form__label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  transition: transform 250ms linear;
}
// message-field
.contacts-form__message {
  font-weight: 400;
}
.contacts-form__message-input {
  width: 100%;
  height: 200px;
  padding: 20px 22px;
  margin-top: 4px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  resize: none;
  outline: none;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #cdcdcd;
  }
}
.contacts-form__message-input:focus {
  border: 1px solid #008cef;
}
// attachement
.contacts__form-add-file__wrapper {
  position: relative;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) and (max-width: 1444px) {
    margin-bottom: 44px;
  }
}
.form-add-file__icon {
  position: absolute;
  top: -32px;
  right: 20;
  cursor: pointer;
}
.form-add-file__text {
  max-width: 220px;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @media screen and (min-width: 768px) {
    max-width: 420px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 516px;
  }
}
.form-add-file__input {
  display: none;
}
.contacts-form-btn {
  display: block;
  // margin: 0 auto;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    // margin-right: 0;
  }
}
.container__contacts-form {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1444px) {
    width: 1060px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // margin: 0 auto;
  }
}
// contacts__form-end
