<div class="container">
    <div class="backround-view">
    <section class="examples section">
        
            <h1 class="hero-title">МИ СТВОРЮЄМО</h1>
        
        
            <ul class="example__picture-list">
                <li class="example__picture-item">
                    <div class="example__picture-block">
                    <div class="example__picture1"></div>
                        <h2 class="example__desc">ПРОТОТИПИ</h2>
                    </div>
    
                </li>
                <li class="example__picture-item">
                    <div class="example__picture-block">
                        <div class="example__picture2"></div>
                        <h2 class="example__desc">МАКЕТИ</h2>
                    </div>
    
                </li>
                <li class="example__picture-item">
                    <div class="example__picture-block">
                        <div class="example__picture3"></div>
                        <h2 class="example__desc">ДЕКОР</h2>
                    </div>
                </li>
                <li class="example__picture-item">
                    <div class="example__picture-block">
                        <div class="example__picture4"></div>
                        <h2 class="example__desc">КОРПОРАТИВНИЙ <br/> ДИЗАЙН</h2>
    
                    </div>
    
                </li>
            </ul>
    </section>
</div>
</div>
<div class="container">
    <div class="printing-page ">
        <section class="process__description">
            <div class="process__description-div">
                <h2 class="visually-hidden">Process Description</h2>
            </div>
        </section>
        <section class="process__content section">

            <picture class="img-align">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-5.webp 1x, ../src/images/desctop/3d-printing/3d-printing-5.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-5.jpg 1x, ../src/images/desctop/3d-printing/3d-printing-5.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-5.webp 1x, ../src/images/tablet/3d-printing/3d-printing-5.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-5.jpg 1x, ../src/images/tablet/3d-printing/3d-printing-5.jpg 2x">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-5.webp 1x, ../src/images/mobile/3d-printing/3d-printing-5.webp 2x"
                    type="image/webp">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-5.jpg 1x, ../src/images/mobile/3d-printing/3d-printing-5.jpg 2x">
                <img src="#" alt="eskiz">
            </picture>

            <div class="process__desc">
                <p class="process__text"><span class="strong">друк</span> - ми використовуємо FDM технологію друку. Вона
                    представляє собою пошарове
                    формування об'єкта за допомогою 3D принтера.</p>
                <p class="process__text">Моделі для створення розроблюються дизайнерами в спеціальному програмному
                    забезпеченні:
                    системах
                    автоматизованого проектування.</p>
                <p class="process__text">3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу,
                    мистецтві
                    і
                    багатьох інших сфер.</p>

            </div>
            <a href="order-page-form" class="button-order ">ЗРОБИТИ ЗАМОВЛЕННЯ</a>

        </section>

        <section class="process__content section">

            <picture class="img-align">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-6.webp 1x, ../src/images/desctop/3d-printing/3d-printing-6.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-6.jpg 1x, ../src/images/desctop/3d-printing/3d-printing-6.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-6.webp 1x, ../src/images/tablet/3d-printing/3d-printing-6.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-6.jpg 1x, ../src/images/tablet/3d-printing/3d-printing-6.jpg 2x">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-6.webp 1x, ../src/images/mobile/3d-printing/3d-printing-6.webp 2x"
                    type="image/webp">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-6.jpg 1x, ../src/images/mobile/3d-printing/3d-printing-6.jpg 2x">
                <img src="#"  alt="eskiz">
            </picture>
            <div class="process__desc">
                <p class="process__text"><span class="strong">3D-моделювання</span> - це процес розробки математичного
                    уявлення
                    будь-якої поверхні
                    об'єкта в трьох вимірах за допомогою
                    спеціалізованого програмного забезпечення.</p>
                <p class="process__text">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                <p class="process__text">Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю
                    задовольнить
                    ваші потреби.</p>
            </div>
            <a href="order-page-form" class="button-order">ЗРОБИТИ ЗАМОВЛЕННЯ</a>

        </section>

        <section class="process__content section">

            <picture class="img-align">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-7.webp 1x, ../src/images/desctop/3d-printing/3d-printing-7.webp 2x"
                    type="image/webp">
                <source media="(min-width: 1444px)"
                    srcset="../src/images/desctop/3d-printing/3d-printing-7.jpg 1x, ../src/images/desctop/3d-printing/3d-printing-7.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-7.webp 1x, ../src/images/tablet/3d-printing/3d-printing-7.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="../src/images/tablet/3d-printing/3d-printing-7.jpg 1x, ../src/images/tablet/3d-printing/3d-printing-7.jpg 2x">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-7.webp 1x, ../src/images/mobile/3d-printing/3d-printing-7.webp 2x"
                    type="image/webp">
                <source media="(min-width: 320px)"
                    srcset="../src/images/mobile/3d-printing/3d-printing-7.jpg 1x, ../src/images/mobile/3d-printing/3d-printing-7.jpg 2x">
                <img src="#" alt="eskiz">
            </picture>
            <div class="process__desc">
                <pclass="process__text"><span class="strong">3D-сканування</span> - зняття даних, шляхом аналізу форми
                    предмета
                    і на основі отриманих
                    даних створення її 3D-моделі.</p>
                    <p class="process__text">Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель
                        для
                        візуалізації
                        в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.</p>

            </div>
            <a href="order-page-form"  class="button-order">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </section>
    </div>
</div>