<section class="examples">
  <div class="exsamples__container">
    <h2 class="hero-title examples__title">МИ СТВОРЮЄМО</h2>

    <ul class="example__picture-list">
      <li class="example__picture-item">
        <div class="example__picture-block">
          <div class="example__picture1"></div>
          <h2 class="example__desc">ПРОТОТИПИ</h2>
        </div>
      </li>
      <li class="example__picture-item">
        <div class="example__picture-block">
          <div class="example__picture2"></div>
          <h2 class="example__desc">МАКЕТИ</h2>
        </div>
      </li>
      <li class="example__picture-item">
        <div class="example__picture-block">
          <div class="example__picture3"></div>
          <h2 class="example__desc">ДЕКОР</h2>
        </div>
      </li>
      <li class="example__picture-item">
        <div class="example__picture-block">
          <div class="example__picture4"></div>
          <h2 class="example__desc">
            КОРПОРАТИВНИЙ <br />
            ДИЗАЙН
          </h2>
        </div>
      </li>
    </ul>
  </div>
</section>
