
    <section class="model__examples">
        <div class="container">
            <h1 class="we__create-text">МИ СТВОРЮЄМО</h1>
         </div>
         <div class="example__picture container">
             <ul class="example__picture-list">
                 <li class="example__picture-item">
                     <img src="https://picsum.photos/seed/picsum/200/300" width="92px">
                          </li> 
                 <li class="example__picture-item"> 
                     <img src="https://picsum.photos/seed/picsum/200/300" width="92px">
                          </li>
                  <li class="example__picture-item">
                     <img src="https://picsum.photos/seed/picsum/200/300" width="92px">
                          </li>
                  <li class="example__picture-item">
                     <img src="https://picsum.photos/seed/picsum/200/300"width="92px">
                         </li>
             </ul>
         </div>
         </section>
        
         <section class="process__description">
             <div class="process__description container">
             <h2 class="visually-hidden">Process Description</h2>
             <img src="https://picsum.photos/seed/picsum/200/300" width="280px" height="386px">
                <p class="threedprint"><strong class="strong">3D-друк</strong> - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.</p>
                    <p class="threedprint">Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.</p>
                        <p class="threedprint">3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.</p>
                    <button type="button" class="order-btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
             </div>
         </section>
        
         <section class="threedmodelling">
             <div class="threedmodelling container">
                <img src="https://picsum.photos/seed/picsum/200/300" width="280px" height="386px"> 
                <p class="threedprint"><strong class="strong">3D-моделювання</strong> - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
                    спеціалізованого програмного забезпечення.</p>
                 <p class="threedprint">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                    <p class="threedprint">Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.</p>
                     <button type="button" class="order-btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
             </div>
         </section>
        
         <section class="threed__scanning">
             <div class="threed__scanning container">
                <img src="https://picsum.photos/seed/picsum/200/300" width="280px" height="386px"> 
                    <p class="threedprint"><strong class="strong">3D-сканування</strong> - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.</p>  
                        <p class="threedprint">Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.</p>
                            <button type="button" class="order-btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
             </div>
            </section>
