@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Light.woff') format('woff');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Bold.woff') format('woff');

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('./fonts/CaviarDreams.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('./fonts/CaviarDreams-Bold.woff') format('woff');

  font-weight: 700;
  font-style: normal;
}
